@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*, ::before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(113.3deg, rgb(134, 209, 228) -1.8%, rgb(60, 80, 115) 86.4%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    min-width: 300px; /* Added minimum width */
    height: auto;
    background-color: #f2f5f6;
    display: flex;
    flex-direction: column;
}

.topbar {
    display:flex;
    justify-content: center;
    background-color: black;
    color: #848e93;
    overflow: hidden;
    font-size: 0.7rem;
    width: 100%;
    max-width: 800px;
    min-width: 300px; /* Added minimum width */
    gap: 2px;
}

.menu-item {
    background-color: #2c353b;
    padding: 5% 5.6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 30%; /* Adjusted flex basis */
}

.active {
    background-color: #222c30;
    color: white;
}

.items {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: #cccccc;
}

hr {
    border: 0;
    background-color: #cccccc;
    height: 1px;
}

.today, .week, .month {
    padding: 2% 5%;
}

.selected {
    color: black;
    border-bottom: 2px solid #4e91cb;
}

#myChart {
    background-color: white;
    width: 500px; 
    max-width: 500px; 
    height: 250px;
}

.chart {
    display: flex;
    padding: 2%;
    gap: 2%;
}

.locations {
    display: flex;
    flex-direction: column;
    gap: 2%;
    font-size: 0.8rem;
}

.title {
    padding-bottom: 10%;
}

.country {
    padding-bottom: 10px;
}

.bar {
    background-color: #dee8f2;
    border: transparent;
    border-radius: 8px;
    width: 250px;
    margin-bottom: 15%;
}

.barfill {
    background-color:#4e91cb;
    border-radius: 8px;
}

.arcs {
    padding: 2% 0;
    position: relative;
    display: flex;
    gap: 10%;
}

.arc {
    /* Border size and color */
    border: 2px solid #68cb23;
    /* Creates a circle */
    border-radius: 50%;
    /* Circle size */
    height: 100px;
    width: 100px;
    /* Use transparent borders to define opening (more transparent = larger opening) */
    border-top-color: transparent;
    border-left-color: transparent;
    /* Use transform to rotate to adjust where opening appears */
    transform: rotate(300deg);
  }

  .arc2 {
    /* Border size and color */
    border: 2px solid red;
    /* Creates a circle */
    border-radius: 50%;
    /* Circle size */
    height: 100px;
    width: 100px;
    /* Use transparent borders to define opening (more transparent = larger opening) */
    border-top-color: transparent;
    border-left-color: transparent;
    /* Use transform to rotate to adjust where opening appears */
    transform: rotate(80deg);
  }

  .arc3 {
    /* Border size and color */
    border: 2px solid #4e91cb;
    /* Creates a circle */
    border-radius: 50%;
    /* Circle size */
    height: 100px;
    width: 100px;
    /* Use transparent borders to define opening (more transparent = larger opening) */
    /* border-top-color: transparent; */
    border-left-color: transparent;
    /* Use transform to rotate to adjust where opening appears */
    transform: rotate(-180deg);
  }

  .legend {
    font-size: 0.7rem;
    position: absolute;
    bottom: 53px;
    left: 30px;
    text-align: center;
  }

  .middle {
    left: 203px;
  }

  .right {
    left: 378px;
  }

  @media screen and (max-width: 827px) {
    .container {
        width: 600px;
    }

    .chart {
        overflow: hidden;
    }

    #myChart {
        width: 60% !important;
    }

      .bar {
        width: 220px;
      }

      .legend {
        bottom: 50px;
      }

      .middle {
        left: 187px;
      }

      .right {
        left: 338px;
      }

      .menu-item {
        padding: 5% 2.6%;
      }

  }

  @media screen and (max-width: 650px) {
    .container {
        width: 500px;
    }

    .middle {
        left: 175px;
      }
    
      .right {
        left: 320px;
      }

      .bar {
        width: 170px;
      }

  }

  @media screen and (max-width: 500px) {
    .container {
        width: 400px;
    }

    .legend {
      bottom: 47px;
    }

    .middle {
        left: 162px;
      }
    
      .right {
        left: 300px;
      }

      .bar {
        width: 140px;
      }

      .menu-item {
        padding: 5% 2.6%;
      }

      .locations {
        gap: 0.5%;
      }

  }

  @media screen and (max-width: 410px) {
    .container {
        width: 300px;
    }

    .topbar {
      flex-wrap: wrap;
    }

    .chart {
      flex-wrap: wrap;
    justify-content: center;
    }

    #myChart {
      width: 100% !important;
    }

      .bar {
        width: 280px;
        margin-bottom: 10%;
      }

      .menu-item {
        padding: 5% 2.6%;
      }

      .locations {
        gap: 0.5%;
      }

      .title {
        padding-top: 5%;

      }

      .arc, .arc2, .arc3 {
        height: 70px;
        width: 70px;
      }

      .arcs {
        justify-content: center;
        margin-bottom: 5%;
      }

      .legend {
        bottom: 29px;
        left: 28px;
        font-size: 0.6rem;
      }

      .middle {
        left: 128px;
      }
    
      .right {
        left: 224px;
      }

  }